<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Materias</title>
</head>
<style>
    table {
        border-collapse: collapse;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th, td {
        border-bottom: 1px solid #ddd;
        padding: 10px 5px;
        text-align: left;
    }
</style>
<body>
<h3>Materia</h3>
<a href="/materia">Agregar nueva materia !</a>
<br><br>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Año</th>
        <th>Semestre</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="materia : ${materias}">
        <td th:text="${materia.id}">id</td>
        <td th:text="${materia.nombre}">nombre</td>
        <td th:text="${materia.año}">año</td>
        <td th:text="${materia.semestre}">semestre</td>
        <td><a th:href="@{/materia(id=${materia.id})}">Editar</a></td>
        <td><a th:href="@{/materia/delete(id=${materia.id})}">Borrar</a></td>
    </tr>
    </tbody>
</table>
<br>
<a href="/">Volver a la principal</a>
</body>
</html>