<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
	crossorigin="anonymous"></script>
<head>
<meta charset="UTF-8">
<title>Nuevo Profesor</title>
</head>
<body>
	<div class="container mt-4">
		<div class=col-sm-6>
			<form method="post" th:action="@{/profesor}" th:object="${profesor}">
				<div class="card">
					<div class="card-header">
						<h3>Profesor Nuevo</h3>

						<div>
							<div class="card-body">
								<div class="form-group">
									<label for="profesor-id">ID:</label> <input id="profesor-id"
										name="Id" placeholder="Id" required th:field="*{id}"
										type="text">
								</div>
								<div class="form-group">
									<label for="profesor-nombre">Nombre:</label> <input
										id="profesor-nombre" name="Nombre" placeholder="Pepe" required
										th:field="*{nombre}" type="text">
								</div>
								<div class="form-group">
									<label for="profesor-apellido">Apellido:</label> <input
										id="profesor-apellido" name="Apellido" placeholder="Perez"
										required th:field="*{apellido}" type="text">
								</div>
								<div class="form-group">
									<label for="profesor-legajo">Legajo:</label> <input
										id="profesor-legajo" name="legajo" placeholder="S2709"
										required th:field="*{legajo}" type="text">
								</div>
							</div>
							<div class="card-footer">
								<input type="submit" value="Enviar">
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<a href="/profesores" class="btn btn-primary">Volver al listado</a>
	</div>


</body>