<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Profesores</title>
</head>
<style>
    table {
        border-collapse: collapse;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th, td {
        border-bottom: 1px solid #ddd;
        padding: 10px 5px;
        text-align: left;
    }
</style>
<body>
<h3>Profesores</h3>
<a href="/profesor">Nuevo profesor !</a>
<br><br>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Legajo</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="profesor : ${profesores}">
        <td th:text="${profesor.id}">id</td>
        <td th:text="${profesor.nombre}">nombre</td>
        <td th:text="${profesor.apellido}">apellido</td>
        <td th:text="${profesor.legajo}">legajo</td>
        <td><a th:href="@{/profesor(id=${profesor.id})}">Editar</a></td>
        <td><a th:href="@{/profesor/delete(id=${profesor.id})}">Borrar</a></td>
    </tr>
    </tbody>
</table>
<br>
<a href="/">Volver a la pagina principal</a>
</body>
</html>