<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profesor</title>
</head>
<body>
<h3 th:text="${profesor.id} ? 'Editar Profesor' : 'Nuevo Profesor'">Profesor</h3>
<form method="post" th:action="@{/profesor}" th:object="${profesor}">
    <input name="id" th:field="*{id}" type="hidden">
    <label for="profesor-nombre">Nombre:</label>
    <input id="profesor-nombre" name="Nombre" placeholder="Pepe" required th:field="*{nombre}" type="text">
    <br><br>
    <label for="profesor-apellido">Apellido:</label>
    <input id="profesor-apellido" name="apellido" placeholder="Perez" required th:field="*{apellido}" type="text">
    <br><br>
    <label for="profesor-legajo">Legajo:</label>
    <input id="profesor-legajo" name="legajo" placeholder="S1209" required th:field="*{legajo}" type="text">
    <br><br>
    <br><br>
    <input type="submit" value="Send">
</form>
<br>
<a href="/profesores">Volver al listado</a>
</body>